#define TEMPERATURE_PRECISION 12
#define TEMPERATURE_EPSILON_K 0.05
#define TEMPERATURE_EXP_SMOOTH_ALPHA 0.125

#define REFERENCE_HIGH 99.34
#define REFERENCE_LOW   0.01

#define WIFI_HOSTNAME "esp-fbh-kg"
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_HOST "mqtt.example.org"
#define MQTT_PORT 1883
#define MQTT_TOPIC_BASE "infrastructure/heating/" WIFI_HOSTNAME
#define MQTT_TOPIC_LAST_WILL MQTT_TOPIC_BASE "/status"

#define OTA_PASSWORD "xxxxxxx"


typedef struct t_TemperatureSensor {
  const DeviceAddress address;
  const char* name;
  const float calibHigh;
  const float calibLow;
  float temperature;
  float temperatureAvg;
} t_TemperatureSensor;
